<div #parallaxRef class="parallax" (mouseleave)="reset()">
  <div #ref class="profile">
    <div class="profile-header">
      <img src="../../assets/header-background.svg" alt="header-background">
      <div #ref class="profile-header-picture"></div>
      <span #ref class="profile-badge">
        <mat-icon svgIcon="angular"></mat-icon>
      </span>
    </div>
    <div class="profile-content">
      <div #ref class="profile-content-title">Frontend Developer <br>specializing in Angular</div>
      <p #ref>I currently work as a full-stack web developer, my background is in engineering. I successfully transferred into software development after I taught myself and built a personal portfolio.</p>
      <button #ref class="profile-content-btn">Go to Profile</button>
    </div>
  </div>
</div>
