<div #parallaxRef class="parallax">
  <div #ref class="profile">
    <div class="profile-header">
      <img src="" alt="">
      <div #ref class="profile-header-picture"></div>
      <span class="profile-header-plus">
        <svg></svg>
      </span>
    </div>
    <div class="profile-content">
      <div #ref class="profile-content-title">Developer</div>
      <p #ref>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore ut ab expedita architecto quaerat distinctio neque veniam, praesentium minima esse</p>
      <button #ref class="profile-content-btn">Go to profile</button>
    </div>
  </div>
</div>
