<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo">
    <h1> Angular 3D Card </h1>
    <p> by Esther White </p>
  </div>
  <div class="social">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
