
.container {
  height: 93.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/background-main-dark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: '';
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }

}
